pfixcore/example/webservice/htdocs/Counter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:webservices.example.pfixcore.schlund.de" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:webservices.example.pfixcore.schlund.de" xmlns:intf="urn:webservices.example.pfixcore.schlund.de" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

   <wsdl:message name="subtractValueRequest">

      <wsdl:part name="in0" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getValueResponse">

      <wsdl:part name="getValueReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addValueResponse">

      <wsdl:part name="addValueReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getValueRequest">

   </wsdl:message>

   <wsdl:message name="addValueRequest">

      <wsdl:part name="in0" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="setValueResponse">

      <wsdl:part name="setValueReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="setValueRequest">

      <wsdl:part name="in0" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="resetRequest">

   </wsdl:message>

   <wsdl:message name="resetResponse">

      <wsdl:part name="resetReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="subtractValueResponse">

      <wsdl:part name="subtractValueReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="Counter">

      <wsdl:operation name="getValue">

         <wsdl:input message="impl:getValueRequest" name="getValueRequest"/>

         <wsdl:output message="impl:getValueResponse" name="getValueResponse"/>

      </wsdl:operation>

      <wsdl:operation name="reset">

         <wsdl:input message="impl:resetRequest" name="resetRequest"/>

         <wsdl:output message="impl:resetResponse" name="resetResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setValue" parameterOrder="in0">

         <wsdl:input message="impl:setValueRequest" name="setValueRequest"/>

         <wsdl:output message="impl:setValueResponse" name="setValueResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addValue" parameterOrder="in0">

         <wsdl:input message="impl:addValueRequest" name="addValueRequest"/>

         <wsdl:output message="impl:addValueResponse" name="addValueResponse"/>

      </wsdl:operation>

      <wsdl:operation name="subtractValue" parameterOrder="in0">

         <wsdl:input message="impl:subtractValueRequest" name="subtractValueRequest"/>

         <wsdl:output message="impl:subtractValueResponse" name="subtractValueResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CounterSoapBinding" type="impl:Counter">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getValue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getValueRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getValueResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reset">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="resetRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="resetResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setValue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setValueRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setValueResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addValue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addValueRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addValueResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="subtractValue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subtractValueRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="subtractValueResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CounterService">

      <wsdl:port binding="impl:CounterSoapBinding" name="Counter">

         <wsdlsoap:address location="http://sample1.zap.ue.schlund.de/xml/webservice/Counter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
