pfixcore/example/webservice/htdocs/TypeTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:webservices.example.pfixcore.schlund.de" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:webservices.example.pfixcore.schlund.de" xmlns:intf="urn:webservices.example.pfixcore.schlund.de" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="urn:webservices.example.pfixcore.schlund.de" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_float">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:float[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_double">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:double[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_dateTime">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:dateTime[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="echoRequest9">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="echoResponse6">

      <wsdl:part name="echoReturn" type="xsd:dateTime"/>

   </wsdl:message>

   <wsdl:message name="echoRequest5">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="echoRequest1">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="echoResponse">

      <wsdl:part name="echoReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="echoRequest">

      <wsdl:part name="in0" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="echoRequest6">

      <wsdl:part name="in0" type="xsd:dateTime"/>

   </wsdl:message>

   <wsdl:message name="echoResponse4">

      <wsdl:part name="echoReturn" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="echoResponse9">

      <wsdl:part name="echoReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="echoRequest4">

      <wsdl:part name="in0" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="echoResponse1">

      <wsdl:part name="echoReturn" type="impl:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="echoRequest8">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="echoResponse5">

      <wsdl:part name="echoReturn" type="impl:ArrayOf_xsd_double"/>

   </wsdl:message>

   <wsdl:message name="echoResponse8">

      <wsdl:part name="echoReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="echoRequest3">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_float"/>

   </wsdl:message>

   <wsdl:message name="echoResponse2">

      <wsdl:part name="echoReturn" type="xsd:float"/>

   </wsdl:message>

   <wsdl:message name="echoResponse7">

      <wsdl:part name="echoReturn" type="impl:ArrayOf_xsd_dateTime"/>

   </wsdl:message>

   <wsdl:message name="echoRequest2">

      <wsdl:part name="in0" type="xsd:float"/>

   </wsdl:message>

   <wsdl:message name="echoResponse3">

      <wsdl:part name="echoReturn" type="impl:ArrayOf_xsd_float"/>

   </wsdl:message>

   <wsdl:message name="echoRequest7">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_dateTime"/>

   </wsdl:message>

   <wsdl:portType name="TypeTest">

      <wsdl:operation name="echo" parameterOrder="in0">

         <wsdl:input message="impl:echoRequest" name="echoRequest"/>

         <wsdl:output message="impl:echoResponse" name="echoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="echo" parameterOrder="in0">

         <wsdl:input message="impl:echoRequest1" name="echoRequest1"/>

         <wsdl:output message="impl:echoResponse1" name="echoResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="echo" parameterOrder="in0">

         <wsdl:input message="impl:echoRequest2" name="echoRequest2"/>

         <wsdl:output message="impl:echoResponse2" name="echoResponse2"/>

      </wsdl:operation>

      <wsdl:operation name="echo" parameterOrder="in0">

         <wsdl:input message="impl:echoRequest3" name="echoRequest3"/>

         <wsdl:output message="impl:echoResponse3" name="echoResponse3"/>

      </wsdl:operation>

      <wsdl:operation name="echo" parameterOrder="in0">

         <wsdl:input message="impl:echoRequest4" name="echoRequest4"/>

         <wsdl:output message="impl:echoResponse4" name="echoResponse4"/>

      </wsdl:operation>

      <wsdl:operation name="echo" parameterOrder="in0">

         <wsdl:input message="impl:echoRequest5" name="echoRequest5"/>

         <wsdl:output message="impl:echoResponse5" name="echoResponse5"/>

      </wsdl:operation>

      <wsdl:operation name="echo" parameterOrder="in0">

         <wsdl:input message="impl:echoRequest6" name="echoRequest6"/>

         <wsdl:output message="impl:echoResponse6" name="echoResponse6"/>

      </wsdl:operation>

      <wsdl:operation name="echo" parameterOrder="in0">

         <wsdl:input message="impl:echoRequest7" name="echoRequest7"/>

         <wsdl:output message="impl:echoResponse7" name="echoResponse7"/>

      </wsdl:operation>

      <wsdl:operation name="echo" parameterOrder="in0">

         <wsdl:input message="impl:echoRequest8" name="echoRequest8"/>

         <wsdl:output message="impl:echoResponse8" name="echoResponse8"/>

      </wsdl:operation>

      <wsdl:operation name="echo" parameterOrder="in0">

         <wsdl:input message="impl:echoRequest9" name="echoRequest9"/>

         <wsdl:output message="impl:echoResponse9" name="echoResponse9"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TypeTestSoapBinding" type="impl:TypeTest">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoRequest2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoResponse2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoRequest3">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoResponse3">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoRequest4">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoResponse4">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoRequest5">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoResponse5">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoRequest6">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoResponse6">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoRequest7">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoResponse7">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoRequest8">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoResponse8">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="echo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoRequest9">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoResponse9">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservices.example.pfixcore.schlund.de" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TypeTestService">

      <wsdl:port binding="impl:TypeTestSoapBinding" name="TypeTest">

         <wsdlsoap:address location="http://webservice.zap.ue.schlund.de/xml/webservice/TypeTest"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
